@import "global";
@import "mixins";
@import "colors";
@import "typography";
@import "icons";
@import "fonts";
@import "header";
@import "footer";


body {
    background: url("./../src/img/bg-main.jpeg");
    font-size: 25px;
    @include flexCHV;
    font-family: "Roboto" sans-serif;
}

.container {
    padding: 50px;
    background-color: $dkGray;
    @include flexCHV;

    h1 {
        color: $ltGray;
    }
}

